<%- include('header.ejs'); %>
<h1 class="text-primary">main</h1>
<%- include('machine.svg'); %>

<div class="mt-4 p-2">
  <button id="btn-bin-1" class="btn btn-outline-success" type="button">
    change bin 1
  </button>
</div>

<script src="main.js"></script>
